/SaniteriClient/Winclient/UMR.Saniteri/SaniteriWebService/obj/Debug
/SaniteriClient/Winclient/UMR.Saniteri/SaniteriWebservice.Setup/Debug
/SaniteriClient/Winclient/UMR.Saniteri/SaniteriWebservice.Setup/Release
/SaniteriClient/Winclient/UMR.Saniteri/SaniteriWebService/bin
/SaniteriClient/Winclient/UMR.Saniteri/SaniteriWebService/obj
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri/obj
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.Command/obj
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.Command/bin
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.Common/bin
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.Common/obj
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.Communication/bin
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.Communication/obj
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.CommunicationService/obj
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.CustomControls/bin
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.CustomControls/obj
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.Data/bin
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.Data/obj
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.DataFactory/bin
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.DataFactory/obj
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.SearchBox/bin
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.SearchBox/obj
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.ViewModel/bin
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.ViewModel/obj
/SaniteriClient/Winclient/UMR.Saniteri/Output/*.*
/SaniteriClient/Winclient/UMR.Saniteri/*.suo
/SaniteriClient/Winclient/UMR.Saniteri/UMR.DBUtility/bin
/SaniteriClient/Winclient/UMR.Saniteri/UMR.DBUtility/obj
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.Converters/bin
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.Converters/obj
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.Clock/bin
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.Clock/obj
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.Installer/Debug
/SaniteriClient/Winclient/UMR.Saniteri/UMR.Saniteri.Installer/Release