<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UMR.Saniteri.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <UMR.Saniteri.Properties.Settings>
      <setting name="MainServerName" serializeAs="String">
        <value>.\SQLExpress</value>
      </setting>
      <setting name="MainDBName" serializeAs="String">
        <value>saniteri_main</value>
      </setting>
      <setting name="MainIntegratedSecurity" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="MainPassword" serializeAs="String">
        <value />
      </setting>
    </UMR.Saniteri.Properties.Settings>
  </applicationSettings>
</configuration>
